MULTIPOST_GRPC_ADDR=0.0.0.0:8188
MULTIPOST_HTTP_ADDR=0.0.0.0:8189
MULTIPOST_DATA_DIR=/var/lib/multipost

PWRIGHT_BIN=/usr/local/bin/pwright
PWRIGHT_CDP=http://alienware-win-yuacx.tail8f3b66.ts.net:9222

MULTIPOST_CRAWL_ENABLED=1
MULTIPOST_CRAWL_PLATFORMS=youtube,toutiao,twitter
MULTIPOST_CRAWL_DURATION_SECS=30
MULTIPOST_CRAWL_INTERVAL_SECS=900
MULTIPOST_CRAWL_INITIAL_DELAY_SECS=0
MULTIPOST_YOUTUBE_CRAWL_URLS=https://www.youtube.com/@flipradio_fearnation/videos
